<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" href="/assets/favicon.ico">

    <title>Sobre Mim</title>
</head>

<body>

    <nav id="navbar"></nav>

    <main class="aboutSection">
        <div class="aboutMe">
            <div class="aboutMeImg">
                <img src="../assets/images/about/me.webp" alt="Imagem de perfil" draggable="false">
            </div>
            <div class="AboutMeContent">
                <div class="AboutMeContentTop">
                    <img src="../assets/images/about/pixel.gif" alt="GIF pixelado" draggable="false">
                    <div class="AboutMeContentInner">
                        <span>Sobre mim</span>
                        <h1>Dev Full Stack</h1>
                    </div>
                </div>
                <div class="AboutMeContentText">
                    <h2>Um pouco sobre minha jornada na tecnologia</h2>
                    <p>
                        Formado em Análise e Desenvolvimento de Sistemas pela Facens, curto tirar projetos do papel e
                        transformar ideias em soluções reais. Sou apaixonado por tecnologia e estou sempre buscando
                        evoluir.
                    </p>
                    <br>
                    <p>No dia a dia, trabalho com Laravel, Livewire, Tailwind CSS, JavaScript e SQL, criando sistemas
                        responsivos, integrações com APIs e dando manutenção em projetos já em produção. Sempre busco
                        entregar um código bem organizado, escalável e versionado com Git.
                    </p>
                </div>
                <div class="AboutMeContentLinks">
                    <button onclick="window.open('../assets/images/about/CV.pdf', '_blank')">Download CV</button>

                    <div class="AboutMeContentNetwork">
                        <a href="https://www.linkedin.com/in/kaique-gm/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://github.com/Kaique-GM" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="mailto:kaiquegmoficial@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="module" src="/assets/js/home.js"></script>
</body>

</html>