<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" href="/assets/favicon.ico">

    <title>Sobre Mim</title>
</head>

<body>

    <nav id="navbar"></nav>

    <main class="aboutSection">
        <div class="aboutMe">
            <div class="aboutMeImg">
                <img src="../assets/images/about/me.webp" alt="Imagem de perfil" draggable="false">
            </div>
            <div class="AboutMeContent">
                <div class="AboutMeContentTop">
                    <img src="../assets/images/about/pixel.gif" alt="GIF pixelado" draggable="false">
                    <div class="AboutMeContentInner">
                        <span>Sobre mim</span>
                        <h1>Dev Full Stack</h1>
                    </div>
                </div>
                <div class="AboutMeContentText">
                    <h2>Um pouco sobre minha jornada na tecnologia</h2>
                    <p>
                        Formado em Análise e Desenvolvimento de Sistemas pela Facens, curto tirar projetos do papel e
                        transformar ideias em soluções reais. Sou apaixonado por tecnologia e estou sempre buscando
                        evoluir.
                    </p>
                    <br>
                    <p>No dia a dia, trabalho com Laravel, Livewire, Tailwind CSS, JavaScript e SQL, criando sistemas
                        responsivos, integrações com APIs e dando manutenção em projetos já em produção. Sempre busco
                        entregar um código bem organizado, escalável e versionado com Git.
                    </p>
                </div>
                <div class="AboutMeContentLinks">
                    <button onclick="window.open('../assets/images/about/CV.pdf', '_blank')">Download CV</button>

                    <div class="AboutMeContentNetwork">
                        <a href="https://www.linkedin.com/in/kaique-gm/" target="_blank"><i
                                class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://github.com/Kaique-GM" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="mailto:kaiquegmoficial@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://kaique-gm.github.io/" target="_blank"><i class="fa-solid fa-globe"></i></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="projectSection">
            <h3>
                Meus Projetos
            </h3>

            <div class="projectBox">
                <a href="https://origem3d.rf.gd/" target="_blank" class="projectCard">
                    <div class="projectCardImg">
                        <img src="../assets/images/about/origem.webp" alt="Projeto Origem 3D">
                    </div>
                    <div class="projectCardText">
                        <h4>Origem 3D</h4>
                        <span>Projeto pessoal</span>
                        <p> Uma landing page moderna para uma loja de impressão 3D, com apresentação clara de peças
                            decorativas, miniaturas e itens personalizados. O site é responsivo e oferece navegação
                            simples e agradável em qualquer dispositivo.</p>
                    </div>
                </a>

                <a href="https://github.com/Kaique-GM/MiauMigo-web" target="_blank" class="projectCard">
                    <div class="projectCardImg">
                        <img src="../assets/images/about/miauMigo.webp" alt="Projeto Miaumigo Shop">
                    </div>
                    <div class="projectCardText">
                        <h4>MiauMigo Shop</h4>
                        <span>Projeto em grupo</span>
                        <p>MiauMigo Shop é um e-commerce pet que conecta empresas do setor a consumidores, promovendo
                            produtos para animais e apoiando ONGs de resgate com parte dos lucros.</p>
                    </div>
                </a>

                <a href="https://github.com/Kaique-GM/WalletCare-App" target="_blank" class="projectCard">
                    <div class="projectCardImg">
                        <img src="../assets/images/about/walletcare.webp" alt="Projeto WalletCare">
                    </div>
                    <div class="projectCardText">
                        <h4>WalletCare</h4>

                        <span>Projeto pessoal</span>

                        <p> WalletCare é uma aplicação de gestão financeira em Java e JavaFX, com gráficos interativos e
                            controle de entradas e saídas. Permite organizar gastos de forma simples por mês e ano.
                        </p>
                    </div>
                </a>
            </div>

            <div class="moreContent">
                <span>
                    Confira outros no meu GitHub

                </span>
                <a href="https://github.com/Kaique-GM" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>

        </div>
    </main>

    <script type="module" src="/assets/js/home.js"></script>
</body>

</html>