<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="icon" href="../assets/favicon.ico">

    <title>Detalhes do Personagem</title>
</head>

<body>
    <nav id="navbar"></nav>

    <main class="reveal-grow">

        <div class="manageButtons">
            <a href="/" class="returnButton">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            <div id="userButtons" class="hidden">
                <button class="editButton">
                    Editar
                </button>
                <button id="deleteButton" class="deleteButton">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </div>
        </div>

        <div id="characterBox"></div>

        <div class="saveButtonBox">
            <span id="mensageText" class="mensageText"></span>
            <button id="saveButton" class="saveButton">
                Salvar Personagem
            </button>
        </div>
    </main>

    <script type="module" src="/assets/js/details.js"></script>
</body>

</html>