<div class="cardSection">
    <div class="cardBox">
        <div class="cardImg">
            <img src="../assets/images/characters/81.webp" alt="Character Name" draggable="false">
        </div>
        <div class="cardText">
            <h2>
                Crocubot
            </h2>
            
            <div class="status">
                <i class="fa-solid fa-circle"></i>
                <span> Dead - Animal </span>
            </div>

            <div class="origem">
                <p>Origem: </p>
                <span>Earth (C-137)</span>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="cardImg">
            <img src="../assets/images/characters/81.webp" alt="Character Name" draggable="false">
        </div>
        <div class="cardText">
            <h2>
                Crocubot
            </h2>
            
            <div class="status">
                <i class="fa-solid fa-circle"></i>
                <span> Dead - Animal </span>
            </div>

            <div class="origem">
                <p>Origem: </p>
                <span>Earth (C-137)</span>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="cardImg">
            <img src="../assets/images/characters/81.webp" alt="Character Name" draggable="false">
        </div>
        <div class="cardText">
            <h2>
                Crocubot
            </h2>
            
            <div class="status">
                <i class="fa-solid fa-circle"></i>
                <span> Dead - Animal </span>
            </div>

            <div class="origem">
                <p>Origem: </p>
                <span>Earth (C-137)</span>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="cardImg">
            <img src="../assets/images/characters/81.webp" alt="Character Name" draggable="false">
        </div>
        <div class="cardText">
            <h2>
                Crocubot
            </h2>
            
            <div class="status">
                <i class="fa-solid fa-circle"></i>
                <span> Dead - Animal </span>
            </div>

            <div class="origem">
                <p>Origem: </p>
                <span>Earth (C-137)</span>
            </div>
        </div>
    </div>

    <div class="cardBox">
        <div class="cardImg">
            <img src="../assets/images/characters/81.webp" alt="Character Name" draggable="false">
        </div>
        <div class="cardText">
            <h2>
                Crocubot
            </h2>
            
            <div class="status">
                <i class="fa-solid fa-circle"></i>
                <span> Dead - Animal </span>
            </div>

            <div class="origem">
                <p>Origem: </p>
                <span>Earth (C-137)</span>
            </div>
        </div>
    </div>
</div>