@import url('./components/navbar.css');
@import url('./components/animations.css');
@import url('./components/cards.css');
@import url('./components/details.css');
@import url('./components/forms.css');
@import url('./components/about.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.paginationButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 15px;
}

.paginationButtons button {
    background-color: #202329;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #ff9800;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.paginationButtons button:disabled {
    background-color: rgb(32, 35, 41, 80%);
    border-color: rgb(255, 153, 0, 80%);
    cursor: default;
}

.paginationButtons button:disabled:hover {
    background-color: rgb(32, 35, 41, 80%);
    border-color: rgb(255, 153, 0, 80%);
    transform: scale(1);
}

.paginationButtons button:hover {
    background-color: #ff9800;
    border-color: #202329;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .paginationButtons {
        flex-direction: column;
        gap: 8px;
    }
}

.errorPage {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    gap: 10px;
}

.errorPage span {
    text-align: center;
    text-decoration: underline #ff9800;
    text-underline-offset: 10px;
}

.errorPage a {
    text-decoration: none;
    color: #333333;
    transition: 0.5s;
}

.errorPage a:hover {
    color: #ff9800;
    transform: scale(1.1);
}

@media (max-width: 568px) {
    .errorPage span {
        font-size: 22px;
    }
}