@import url('./components/navbar.css');
@import url('./components/animations.css');
@import url('./components/cards.css');
@import url('./components/details.css');
@import url('./components/forms.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.paginationButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 15px;
}

.paginationButtons button {
    background-color: #202329;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #ff9800;
    transition: 0.5s;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.paginationButtons button:disabled {
    background-color: rgb(32, 35, 41, 80%);
    border-color: rgb(255, 153, 0, 80%);
    cursor: default;
}

.paginationButtons button:disabled:hover {
    background-color: rgb(32, 35, 41, 80%);
    border-color: rgb(255, 153, 0, 80%);
    transform: scale(1);
}

.paginationButtons button:hover {
    background-color: #ff9800;
    border-color: #202329;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .paginationButtons {
        flex-direction: column;
        gap: 8px;
    }
}

.errorPage {
    height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    gap: 10px;
}

.errorPage span {
    text-align: center;
    text-decoration: underline #ff9800;
    text-underline-offset: 10px;
}

.errorPage a {
    text-decoration: none;
    color: #333333;
    transition: 0.5s;
}

.errorPage a:hover {
    color: #ff9800;
    transform: scale(1.1);
}

@media (max-width: 568px) {
    .errorPage span {
        font-size: 22px;
    }
}

.aboutSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.aboutSection .aboutMe {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-radius: 50px;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
}

.aboutSection .aboutMeImg {
    border-radius: 100%;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.aboutSection .aboutMeImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.aboutSection .aboutMeImg:hover img {
    transform: scale(1.05);
}

.aboutSection .aboutMe .AboutMeContent {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentTop {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 18px;
    color: #333333;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentTop span {
    color: #ff9800;
    font-weight: bold;
    font-size: 24px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentTop h1 {
    font-weight: bolder;
    line-height: 40px;
    font-size: 44px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentTop img {
    width: 80px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentText {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: start;
    gap: 10px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentText h2 {
    font-weight: bold;
    color: #ff9800;
    font-size: 24px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentText p {
    font-weight: 600;
    color: #333333;
    font-size: 18px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks button {
    background-color: #ff9800;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks button:hover {
    background-color: #333333;
    border-color: #ff9800;
    transform: scale(0.95);
}


.aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks .AboutMeContentNetwork {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 112px;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-color: #333333;
    text-decoration: none;
    color: #333333;
    font-size: 24px;
    transition: transform 0.3s ease, background-color 0.3s, color 0.3s, border-color 0.3s;
}

.aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks a:hover {
    border-color: #ff9800;
    color: white;
    background-color: #333333;
    transform: scale(1.05);
}

@media (max-width: 1400px) {
    .aboutSection {
        max-width: 700px;
    }

    .aboutSection .aboutMe {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }
}

@media (max-width: 760px) {
    .aboutSection .aboutMe {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }
}

@media (max-width: 500px) {
    .aboutSection {
        max-width: 300px;
    }

    .aboutSection .aboutMe {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;
    }

    .aboutSection .aboutMeImg {
        width: 150px;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentLinks {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentTop {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentTop .AboutMeContentInner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentTop span {
        font-size: 18px;
        text-align: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentTop h1 {
        font-size: 32px;
        text-align: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentTop img {
        width: 80px;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentText {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentText h2 {
        font-size: 18px;
        text-align: center;
    }

    .aboutSection .aboutMe .AboutMeContent .AboutMeContentText p {
        font-size: 16px;
        text-align: center;

    }
}