.characterBox {
    display: flex;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    border-radius: 50px;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.5);
}

.characterBox .characterImg {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

.characterBox .characterImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.characterBox .characterImg:hover img {
    transform: scale(1.05);
}

.characterBox .characterDetails {
    width: 100%;
    max-width: 600px;
    padding: 0px 20px 0px 0px;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

.characterBox .characterDetails h1 {
    font-size: 48px;
    font-weight: bold;
}

.characterBox .characterDetails .characterStatus {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    padding: 0px 10px;
}

.characterBox .characterDetails .characterStatus i {
    font-size: 8px;
}

.characterBox .characterDetails .characterContent {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 10px;
}

.characterBox .characterDetails .characterContent .charactertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3px;
    font-size: 18px;
    font-weight: 600;
    padding: 0px 10px;
    word-break: break-all;
}

.characterBox .characterDetails .characterContent .charactertext p {
    color: #9E9E9E;
}

@media (max-width: 1000px) {
    .characterBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 600px;
        padding: 20px 0px;
    }

    .characterBox .characterImg {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
        overflow: hidden;
    }

    .characterBox .characterDetails {
        width: 100%;
        max-width: 500px;
        padding: 0px 15px 0px 15px;
    }

    .characterBox .characterDetails h1 {
        font-size: 24px;
    }

    .characterBox .characterDetails .characterContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;
        font-size: 18px;
        font-weight: 600;
        padding: 0px 10px;
    }

    .characterBox .characterDetails .characterContent .charactertext {
        gap: 5px;
    }

}

@media (max-width: 500px) {
    .characterBox {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 300px;
        padding: 20px 0px;
    }

    .characterBox .characterImg {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 100%;
        overflow: hidden;
    }

    .characterBox .characterDetails {
        width: 100%;
        max-width: 250px;
        padding: 0px 15px 0px 15px;
    }

    .characterBox .characterDetails h1 {
        font-size: 24px;
    }

    .characterBox .characterDetails .characterContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 10px;
        font-size: 18px;
        font-weight: 600;
        padding: 0px 10px;
    }

    .characterBox .characterDetails .characterContent .charactertext {
        gap: 5px;
    }

}

.manageButtons {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.manageButtons .editButton {
    background-color: #2563EB;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.manageButtons .editButton:hover {
    background-color: #333333;
    border-color: #2563EB;
    transform: scale(0.95);
}

.manageButtons .deleteButton {
    background-color: #DC2626;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.manageButtons .deleteButton:hover {
    background-color: #333333;
    border-color: #DC2626;
    transform: scale(0.95);
}

.manageButtons .returnButton {
    background-color: #ff9800;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.manageButtons .returnButton:hover {
    background-color: #333333;
    border-color: #ff9800;
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.saveButtonBox {
    display: flex;
    gap: 25px;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    justify-content: end;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.saveButtonBox .saveButton {
    background-color: #16A34A;
    padding: 8px 32px;
    border-radius: 112px;
    color: white;
    border-width: 3px 6px 6px 7px;
    border-style: solid;
    border-color: #333333;
    transition: 0.5s;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.saveButtonBox .saveButton:hover {
    background-color: #333333;
    border-color: #16A34A;
    transform: scale(0.95);
}

.saveButtonBox .mensageText{
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .manageButtons {
        max-width: 600px;
    }

    .saveButtonBox {
        max-width: 600px;
    }

}

@media (max-width: 500px) {
    .manageButtons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0px 0px 0px;
    }

    .saveButtonBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px 0px;
    }

}